.jumbotron {
  padding: 20px;
}

.jumbotron.blog-header,
.jumbotron.tags-header {
  padding: 30px !important;

  h2 {
    margin-top: 0px;
  }

  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
